@media (min-width: 769px) {
    body {
        overflow-x: hidden;
        overflow-y: hidden;
    }
}

body {
    background-color: #F5F5F5;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Add this line to vertically align the midpoints */
    margin: 5% 10% 5% 10%;
}

.left {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seeker-logo {
    width: 70%;
    margin-bottom: 1rem;
}

.subheader {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    font-weight: 600;
}

.download-buttons {
    display: flex;
    justify-content: space-between;
    width: 80%;
    /* Adjust this value to control the overall space taken by the buttons */
    gap: 10px;
    /* Adjust this value to control the space between the platform icons and buttons */
}

.download-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.platform-logo {
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 10%;
    vertical-align: middle;
    /* Add this line */
}

.platform-logo:hover {
    opacity: 0.8;
}

.download-text {
    display: flex;
    align-items: center;
    background-color: #555555;
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: 400;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.3s;
    font-family: Courier, monospace;
    /* Set the font family to Courier */
}

.download-text:hover {
    background-color: #444444;
}

.arrow-icon {
    margin-right: 5px;
}

.right {
    width: 50%;
    margin-top: 5%;
}

.screenshot {
    width: 100%;
}

.feather-download {
    margin-right: 8px;
}

.subheader {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    font-weight: 500;
    font-family: Courier, monospace;
    /* Set the font family to Courier */
}

.background-circles,
.background-circles2 {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.background-circles::before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 50%;
    opacity: 0.7;
    width: 40vw;
    height: 40vw;
    bottom: 20%;
    left: -30vw;
    background-color: #444444;
}

.background-circles::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 50%;
    opacity: 0.8;
    width: 30vw;
    height: 30vw;
    bottom: -10%;
    right: -10vw;
    background-color: #666666;
}

.background-circles2::before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 50%;
    opacity: 0.7;
    width: 27vw;
    height: 27vw;
    top: -20%;
    right: -20vw;
    background-color: #777777;
    /* Adjust the shade as needed */
}

.windows {
    width: 58px;
    height: 58px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
}

footer nav a {
    margin: 0 10px;
    color: #333;
    text-decoration: none;
}

footer nav a:hover {
    text-decoration: underline;
}

footer p {
    margin: 10px 0;
}

footer p a {
    color: #333;
    text-decoration: none;
}

footer p a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column-reverse;
        /* Reverse the order of columns for smaller screens */
    }

    .left {
        width: 100%;
        margin-bottom: 2rem;
        /* Take up the full width and add some space at the bottom */
    }

    .right {
        width: 100%;
    }

    .background-circles,
    .background-circles2 {
        display: none;
        /* Hide the circles for smaller screens */
    }

    .screenshot {
        height: auto;
        /* Adjust the height so that the image scales down */
    }

    footer {
        position: static;
        /* Remove fixed positioning for the footer /
    margin-top: 2rem;
    / Add some space at the top of the footer */
    }
}